body {
    background: #04A1BF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#helptext1 {
    color: white;
    font-weight: bold;
}

.title {
    margin-top: 100px;
    margin-bottom: 50px;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

.introtext {
    text-align: center;
    margin-bottom: 20px;
}

.listItems {
    margin-top: 40px;
    text-align: left;
    
}

.delete {
    display:none;
}

.done {
    background-color:rgba(56, 201, 19, 0.42)
}

.done:hover {
    background-color:rgba(46, 121, 27, 0.637)
}

#taskBox {
    border: 0px;
    border-radius: 10px;
    background: white;
    padding: 5px;
    outline: none;
    padding-left:10px;
}

#disclaimer {
    color:rgb(100, 0, 37);
    font-size: 8px;
    font-style: italic;
    font-weight: bold;
}

li {
    list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #79e7fa;
    background-color:rgba(0, 0, 0, 0.42);
    border-radius: 5px;
	margin-bottom: 10px;
	transition: all 0.75s ease;
}

li:hover {
	background: #468896;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #ffffff;
	font-weight: 800;
}


.submit {
    border: 0px;
    border-radius:5px;
    font-weight: bold;
    color:rgb(48, 48, 48);
    background: rgb(226, 216, 81);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

.submit:active {
    background-color:rgb(146, 138, 19);
    color: white;
}

.tasks {
    padding-top: 20px;
}