body {
    background: #04A1BF;
    text-align: center;
}

#helptext1 {
    color: white;
    font-weight: bold;
}

#id {
    border: 0px;
    border-radius: 10px;
    background: white;
    padding: 15px;
}

#submit {
    border: 0px;
    border-radius:10px;
    background: grey;
}