body {
    background: #04A1BF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#helptext1 {
    color: white;
    font-weight: bold;
}

#title {
    color: white;
}

#id {
    border: 0px;
    border-radius: 10px;
    background: white;
    padding: 15px;
}

#submit {
    border: 0px;
    border-radius:10px;
    background: grey;
}

.tasks {
    padding-top: 20px;
}